body, html {
  widht: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: arial;
  font-size: 20px;
}

.unsupported {
  margin: 20px;
}

.unsupported .note {
  font-size: 12px;
  color: #999;
}

.error {
  padding: 20px;
}

#desk .ace_editor {
  font-size: 12px;
  line-heiht: 1em;
  font-family: monospace;
}

#stage-wrapper {
  position: absolute;
  top: 0px;
  bottom: 50%;
  left: 0px;
  right: 0px;
}

.stage {
  width: 100%;
  height: 100%;
}

.stage-floater {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
}

#desk {
  background-color: #fff;
  position: absolute;
  top: 50%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  border-top: 2px solid #999;
}

#editor {
  position: absolute;
  top: 0px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  border-radius: 2px;
}

#status {
  border-top: 1px solid #999;
  position: absolute;
  bottom: 0px;
  height: 29px;
  left: 0px;
  right: 0px;
  font-size: 14px;
  line-height: 29px;
}

.target {
  padding: 0px 10px;
}

#apply {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

#error-gist-number {
  color: red;
}