body {
  margin-top: 20px;
}

html {
  height: 101%;
}

section {
  padding-top: 40px;
}

.container {
  width: 800px;
}

#error {
  padding: 20px;
}

#comix {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#comix iframe {
  width: 100%;
  height: 100%;
}

.icon-github {
  position: relative;
  top: -2px;
  background: no-repeat url('../img/github-16px.png');
  width: 16px;
  height: 16px;
}

.hero-unit {
  background: #fff;
  position: relative;
  padding: 0px 0;
  text-align: center;
}

.hero-unit .btn, .pagination-centered .btn {
  float: none;
  font-weight: normal;
}

.splash-box {
  position: relative;
  margin-bottom: 50px;
}

.splash-image {
  display: block;
  margin: 20px auto;
  width: 800px;
}

.source-link {
  position: absolute;
  bottom: -12px;
  left: 18px;
  font-size: 11px;
  color: #aaa;
  text-align: left;
  font-weight: bold;
}

.social-buttons-placeholder {
  height: 30px;
  position: relative;
}

.bs-docs-social-buttons {
  position: absolute;
  top: 0px;
  left: 90px;
  list-style: none;
}

.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

.discussion {
  margin-top: 100px;
}